<div class="row templates">
  <div class="col-md-4">
    <h3>Blue Template</h3>
    <img src="img/template00.jpg" />
    <h4>$19.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>
  <div class="col-md-4">
    <h3>XDF Template</h3>
    <img src="img/template01.jpg" />
    <h4>$12.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>
  <div class="col-md-4">
    <h3>qwer Template</h3>
    <img src="img/template02.jpg" />
    <h4>$9.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>
  <div class="col-md-4">
    <h3>erty Template</h3>
    <img src="img/template03.jpg" />
    <h4>$34.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>
  <div class="col-md-4">
    <h3>tyu Template</h3>
    <img src="img/template04.jpg" />
    <h4>$193.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>
  <div class="col-md-4">
    <h3>ertert Template</h3>
    <img src="img/template05.jpg" />
    <h4>$149.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>
  <div class="col-md-4">
    <h3>cvbcvb Template</h3>
    <img src="img/template06.jpg" />
    <h4>$67.99</h4>
    <a class="btn btn-primary btn-block" href="#/templates/1">Details</a>
  </div>
</div>
