<div>
  <a href="#/templates">Go Back</a>
  <br><br>
  <div class="col-md-4">
    <img class="image-full" src="img/template00.jpg"/>
  </div>
  <div class="col-md8">
    <h3>Blue Template</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque a consectetur mauris, in eleifend dui. Vestibulum a cursus ex, nec gravida nunc. Nullam vulputate lobortis ex, tempor cursus sapien placerat quis. Praesent mattis nisl quis metus maximus, et porttitor nulla euismod. Proin sit amet dictum nisl, vel dapibus lacus. Aenean posuere justo eget lectus egestas, in varius ante pharetra. Proin luctus sodales leo, sit amet accumsan quam ultrices ut. Maecenas purus arcu, lobortis sed orci sit amet, bibendum efficitur enim. Quisque nulla metus, maximus in condimentum vel, luctus id urna. Sed at nibh vestibulum, porta tortor in, eleifend neque.
    </p>
    <h4>$19.99</h4>
    BUY IT
  </div>
</div>
